<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Black</key>
	<array>
		<real>0.3</real>
		<real>0.3</real>
		<real>0.3</real>
	</array>
	<key>Blue</key>
	<array>
		<real>0.25</real>
		<real>0.15</real>
		<integer>1</integer>
	</array>
	<key>Green</key>
	<array>
		<real>0.25</real>
		<integer>1</integer>
		<real>0.2</real>
	</array>
	<key>Red</key>
	<array>
		<integer>1</integer>
		<real>0.2</real>
		<real>0.1</real>
	</array>
</dict>
</plist>
